@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-family: "Work Sans", sans-serif;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: "Work Sans", sans-serif;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.container {
   max-width: 1120px;
   padding: 0px 15px;
   margin: 0 auto;
}

.content {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   top: 30px;
}

.header__toggle {
   display: block;
   top: 20px;
   left: 20px;
   z-index: 55;
   position: fixed;
   width: 30px;
   height: 20px;
}

.header__toggle span {
   background: #314584;
   position: absolute;
   left: 0;
   width: 100%;
   height: 2px;
   top: 9px;
   -webkit-transition: all 0.3s ease 0.2s;
   transition: all 0.3s ease 0.2s;
}

.header__toggle:before,
.header__toggle:after {
   content: "";
   background: #314584;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   -webkit-transition: all 0.3s ease 0.2s;
   transition: all 0.3s ease 0.2s;
}

.header__toggle:before {
   top: 0;
}

.header__toggle:after {
   bottom: 0;
}

.header__logo {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: absolute;
   z-index: 10;
   left: 50%;
   top: 0;
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);
   -webkit-transition: -webkit-transform 0.3s linear 0.2s;
   transition: -webkit-transform 0.3s linear 0.2s;
   transition: transform 0.3s linear 0.2s;
   transition: transform 0.3s linear 0.2s, -webkit-transform 0.3s linear 0.2s;
}

.header__menu {
   position: fixed;
   top: 0;
   left: 0;
   overflow: auto;
   width: 100%;
   height: 100%;
   background: #c3d0d8;
   -webkit-transition: all 0.5s ease 0.2s;
   transition: all 0.5s ease 0.2s;
   -webkit-transform: translate(0, -100%);
   transform: translate(0, -100%);
   z-index: 5;
}

.header__menu.active {
   -webkit-transform: translate(0, 0);
   transform: translate(0, 0);
}

.header__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 150px 0px 0px 0px;
}

.header__list li {
   padding: 0px 0px 25px 0px !important;
}

.header__list a {
   color: #fff;
   letter-spacing: 2.2px;
   text-transform: uppercase;
}

@media (max-width: 768px) {
   .header__list a {
      font-size: calc(35px + -28.9 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .header__list a {
      font-size: calc(35px + -17 * (100vw / 1920));
   }
}

.active span {
   -webkit-transform: scale(0);
   transform: scale(0);
}

.active::before {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
   top: 9px;
}

.active::after {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   bottom: 9px;
}

.block {
   padding: 70px 0px 0px 0px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 auto;
}

.block__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 280px;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 0px 0px 0px 20px;
}

.block__language {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #314584;
   line-height: 20.76px;
   text-transform: uppercase;
   letter-spacing: 0.18px;
   cursor: pointer;
   -webkit-transition: all 0.3s linear 0.1s;
   transition: all 0.3s linear 0.1s;
}

@media (max-width: 768px) {
   .block__language {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .block__language {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.block__language:hover {
   font-weight: bold;
}

.block__link {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 200px;
   height: 60px;
   -webkit-box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
   box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
   background: #fff;
   position: relative;
   cursor: pointer;
   -webkit-transition: all 0.3s linear 0.1s;
   transition: all 0.3s linear 0.1s;
}

.block__link:hover {
   -webkit-box-shadow: 0 5px 10px rgba(25, 45, 51, 0.4);
   box-shadow: 0 5px 10px rgba(25, 45, 51, 0.4);
}

.block__link a {
   color: #ff3946;
   line-height: 20.76px;
   letter-spacing: 0.18px;
   display: block;
   margin: 0px 0px 0px -10px;
}

@media (max-width: 768px) {
   .block__link a {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .block__link a {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.fa-caret-down {
   margin: 0px 0px 0px 5px;
}

.fa-long-arrow-alt-right {
   position: absolute;
   margin: 0px 0px 0px 8px;
}

@media (max-width: 768px) {
   .fa-long-arrow-alt-right {
      font-size: calc(24px + 6.8 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .fa-long-arrow-alt-right {
      font-size: calc(24px + 4 * (100vw / 1920));
   }
}

body.lock {
   overflow: hidden;
}

.agency {
   display: none;
}

.agency__row {
   padding: 200px 0px 0px 0px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.agency__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 auto;
   text-align: center;
}

.agency__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   margin: 0 auto;
}

.agency__title {
   color: #314584;
   margin: 0px 0px 20px 0px;
   line-height: 65.52px;
   letter-spacing: 0.73px;
   font-weight: bold;
}

@media (max-width: 768px) {
   .agency__title {
      font-size: calc(26px + 79.9 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .agency__title {
      font-size: calc(26px + 47 * (100vw / 1920));
   }
}

.agency__text {
   color: #6e757a;
   margin: 0px 0px 20px 0px;
   line-height: 30px;
   letter-spacing: 0.18px;
}

@media (max-width: 768px) {
   .agency__text {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .agency__text {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.agency__links {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 450px;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin: 0px 0px 20px 0px;
}

.agency__about {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   width: 200px;
   height: 55px;
   color: #314584;
   border-radius: 40px;
   -webkit-transition: all 0.4s linear 0.1s;
   transition: all 0.4s linear 0.1s;
}

.agency__about:hover {
   background: #ff3946;
   color: #fff;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.agency__touch {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   width: 200px;
   height: 55px;
   color: #314584;
   border-radius: 40px;
   -webkit-transition: all 0.4s ease 0.1s;
   transition: all 0.4s ease 0.1s;
}

.agency__touch:hover {
   background: #ff3946;
   color: #fff;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.agency__img {
   display: none;
}

.agency__img img {
   max-width: 100%;
}

.slider {
   min-width: 0;
}

.slider {
   position: relative;
   padding: 0px 60px;
}

.slick-track {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
}

.slick-list {
   overflow: hidden;
}

.slick-slider {
   min-width: 0;
}

.slider .slick-arrow {
   position: absolute;
   top: 50%;
   margin: -30px 0px 0px 0px;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 60px;
}

.slider .slick-arrow.slick-prev {
   left: -50px;
   background: url("../img/chevron-circle-left-solid.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
   right: -50px;
   background: url("../img/chevron-circle-right-solid.svg") 0 0/100% no-repeat;
}

.slider__item {
   padding: 0px 15px;
}

.slider__item img {
   max-width: 100%;
}

.colum {
   padding: 200px 0px 0px 0px;
}

.colum__title {
   text-align: center;
   color: #314584;
   margin: 0px 0px 25px 0px;
   line-height: 50px;
   letter-spacing: 1.2px;
}

@media (max-width: 768px) {
   .colum__title {
      font-size: calc(30px + 30.6 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .colum__title {
      font-size: calc(30px + 18 * (100vw / 1920));
   }
}

.colum__row {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (1fr) [1];
   grid-template-columns: repeat(1, 1fr);
   -ms-grid-rows: (1fr) [3];
   grid-template-rows: repeat(3, 1fr);
   grid-row-gap: 20px;
}

.colum__colums {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.colum__link {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   cursor: pointer;
   color: #ff3946;
   text-align: center;
   margin: 0 auto;
   margin: 30px 0px 0px 0px;
   padding: 10px 0px 20px 0px;
   -webkit-transition: all 0.4s ease 0.1s;
   transition: all 0.4s ease 0.1s;
   display: block;
}

@media (max-width: 768px) {
   .colum__link {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .colum__link {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.colum__link:hover {
   font-weight: bold;
}

.item__row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.item__image img {
   max-width: 100%;
}

.contact {
   padding: 30px 0px 30px 0px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.contact__title {
   text-align: center;
   padding: 0px 0px 20px 0px;
}

.contact__title p {
   color: #ff3946;
}

@media (max-width: 768px) {
   .contact__title p {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .contact__title p {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.contact__title h3 {
   margin: 20px 0px 0px 0px;
   color: #314584;
   line-height: 60px;
   letter-spacing: 0.48px;
}

@media (max-width: 768px) {
   .contact__title h3 {
      font-size: calc(30px + 30.6 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .contact__title h3 {
      font-size: calc(30px + 18 * (100vw / 1920));
   }
}

.form__row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.form__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin: 0 auto;
   text-align: center;
}

.form__item {
   margin: 0 auto;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   color: #314584;
}

@media (max-width: 768px) {
   .form__item {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .form__item {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.form__item p {
   font-weight: bold;
}

.form__email {
   border-radius: 10px;
   margin: 10px 0px 20px 0px;
   width: 250px;
   height: 30px;
   padding: 0px 0px 0px 10px;
   background-color: #f4fafe;
   padding: 0px 0px 0px 10px;
   color: #314584;
   line-height: 20.76px;
   letter-spacing: 0.18px;
   cursor: pointer;
   -webkit-transition: all 0.4s ease 0.1s;
   transition: all 0.4s ease 0.1s;
}

.form__email:focus {
   border: 1px solid #314584;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__message {
   display: block;
   border-radius: 10px;
   margin: 0 auto;
   width: 250px;
   margin: 10px 0px 20px 0px;
   height: 50px;
   padding: 0px 0px 0px 10px;
   background-color: #f4fafe;
   color: #314584;
   line-height: 20.76px;
   letter-spacing: 0.18px;
   cursor: pointer;
   -webkit-transition: all 0.4s ease 0.1s;
   transition: all 0.4s ease 0.1s;
   font-weight: bold;
}

.form__message:focus {
   border: 1px solid #314584;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__subject {
   border-radius: 10px;
   margin: 10px 0px 20px 0px;
   width: 250px;
   height: 30px;
   padding: 0px 0px 0px 10px;
   background-color: #f4fafe;
   cursor: pointer;
   color: #314584;
   line-height: 20.76px;
   letter-spacing: 0.18px;
   -webkit-transition: all 0.4s ease 0.1s;
   transition: all 0.4s ease 0.1s;
}

.form__subject:focus {
   border: 1px solid #314584;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__btn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 auto;
   width: 200px;
   height: 50px;
   background: #ff3946;
   border-radius: 50px;
   text-align: center;
   color: #fff;
   line-height: 20.76px;
   letter-spacing: 0.18px;
   -webkit-transition: all 0.4s ease 0.1s;
   transition: all 0.4s ease 0.1s;
}

@media (max-width: 768px) {
   .form__btn {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .form__btn {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.form__btn:hover {
   color: #314584;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
   background: #314584;
   padding: 65px 0px 55px 0px;
}

.footer__body {
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   text-align: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.footer__text-logo {
   color: #fff;
   margin: 0px 0px 25px 0px;
   line-height: 20.76px;
   text-transform: uppercase;
   letter-spacing: 0.18px;
}

@media (max-width: 768px) {
   .footer__text-logo {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .footer__text-logo {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.footer__textBG {
   color: #ff3946;
   letter-spacing: 1.8px;
   margin: 0px 0px 45px 0px;
   line-height: 60px;
   text-transform: uppercase;
   letter-spacing: 0.48px;
}

@media (max-width: 768px) {
   .footer__textBG {
      font-size: calc(30px + 30.6 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .footer__textBG {
      font-size: calc(30px + 18 * (100vw / 1920));
   }
}

.footer__link {
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   text-align: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin: 0px 0px 55px 0px;
   cursor: pointer;
}

.footer__link {
   cursor: pointer;
}

.footer__link a {
   color: #fff;
   padding: 0 20px;
   line-height: 20.76px;
   letter-spacing: 0.18px;
   -webkit-transition: all 0.3s linear 0.1s;
   transition: all 0.3s linear 0.1s;
}

@media (max-width: 768px) {
   .footer__link a {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .footer__link a {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

.footer__link a:hover {
   opacity: 0.7;
}

.footer__text {
   margin: 0px 0px 50px 0px;
   color: #fff;
   line-height: 20.76px;
   letter-spacing: 0.14px;
}

@media (max-width: 768px) {
   .footer__text {
      font-size: calc(14px + 0 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) {
   .footer__text {
      font-size: calc(14px + 0 * (100vw / 1920));
   }
}

.footer__socialNetwork {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
}

.footer__socialNetwork a {
   display: block;
   width: 120px;
   -webkit-transition: all 0.3s linear 0.1s;
   transition: all 0.3s linear 0.1s;
}

.footer__socialNetwork a:hover {
   opacity: 0.7;
}

@media (min-width: 768px) {
   .header {
      position: relative;
      top: 0px;
   }
   .header__row {
      padding: 80px 0px 0px 0px;
   }
   .header__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      z-index: 0;
      left: 10px;
      top: 40px;
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
   }
   .header__logo img {
      display: block;
      max-width: 100%;
   }
   .header__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      position: absolute;
      left: 50px;
      overflow: none;
      width: none;
      height: none;
      background: none;
      -webkit-transition: all 0.5s ease 0.2s;
      transition: all 0.5s ease 0.2s;
      z-index: 0;
   }
   .header__menu.active {
      display: none;
   }
   .header__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0px 0px 0px 0px;
   }
   .header__list li {
      padding: 0px 0px 0px 0px !important;
   }
   .header__list a {
      color: #314584;
      display: block;
      font-weight: bold;
      padding: 0px 45px 0px 0px;
      -webkit-transition: all 0.3s linear 0.1s;
      transition: all 0.3s linear 0.1s;
   }
}

@media (min-width: 768px) and (max-width: 768px) {
   .header__list a {
      font-size: calc(18px + 0 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) and (min-width: 768px) {
   .header__list a {
      font-size: calc(18px + 0 * (100vw / 1920));
   }
}

@media (min-width: 768px) {
   .header__list a:hover {
      opacity: 0.8;
   }
   .header__toggle {
      display: none;
   }
   .header__toggle span {
      display: none;
   }
   .block {
      padding: 0px 0px 0px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
   }
   .block__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 280px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0px 0px 0px 0px;
      position: relative;
      top: 0px;
      left: 0px;
      text-align: center;
   }
   .block__language {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: bold;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #314584;
      line-height: 20.76px;
      text-transform: uppercase;
      letter-spacing: 0.18px;
      cursor: pointer;
      -webkit-transition: all 0.3s linear 0.1s;
      transition: all 0.3s linear 0.1s;
   }
}

@media (min-width: 768px) and (max-width: 768px) {
   .block__language {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) and (min-width: 768px) {
   .block__language {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

@media (min-width: 768px) {
   .block__language:hover {
      opacity: 0.8;
   }
   .block__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 200px;
      height: 60px;
      -webkit-box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
      box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
      background: #fff;
      position: relative;
      cursor: pointer;
      -webkit-transition: all 0.3s linear 0.1s;
      transition: all 0.3s linear 0.1s;
   }
   .block__link:hover {
      -webkit-box-shadow: 0 5px 10px rgba(25, 45, 51, 0.4);
      box-shadow: 0 5px 10px rgba(25, 45, 51, 0.4);
   }
   .block__link a {
      color: #ff3946;
      line-height: 20.76px;
      letter-spacing: 0.18px;
      display: block;
      margin: 0px 0px 0px -10px;
   }
}

@media (min-width: 768px) and (max-width: 768px) {
   .block__link a {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 768px) and (min-width: 768px) {
   .block__link a {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

@media (min-width: 768px) {
   .active {
      display: none;
   }
   .active span {
      display: none;
   }
   .agency {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
   }
   .agency__row {
      padding: 45px 0px 100px 0px;
   }
   .agency__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .agency__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 700px;
      margin: 0px 0px 20px -300px;
   }
   .agency__img {
      display: block;
   }
   .agency__img img {
      max-width: 100%;
   }
   .colum {
      padding: 100px 0px 0px 0px;
   }
   .colum__row {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr) [2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: (1fr) [3];
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
   }
   .form__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 auto;
      text-align: center;
      margin: 0px 0px 10px 0px;
      width: 760px;
   }
   .form__email {
      width: 300px;
      height: 40px;
      margin: 20px 0px 85px 0px;
   }
   .form__message {
      width: 300px;
      height: 80px;
      margin: 20px 0px 20px 0px;
   }
   .form__subject {
      width: 300px;
      height: 40px;
      margin: 20px 0px 20px 0px;
   }
}

@media (min-width: 992px) {
   .header__menu {
      left: 150px;
   }
   .header__logo {
      top: -10px;
   }
   .agency__body {
      width: 1150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .agency__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 500px;
      margin: 0px 0px 0px 10px;
   }
   .agency__title {
      text-align: left;
   }
   .agency__about {
      margin: 0px 0px 0px 20px;
   }
   .agency__text {
      text-align: left;
      margin: 50px 0px 45px 0px;
   }
   .agency__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 450px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0px 0px 0px -80px;
   }
   .colum__title {
      text-align: left;
      color: #314584;
      margin: 0px 0px 90px 0px;
      line-height: 50px;
      letter-spacing: 1.2px;
   }
}

@media (min-width: 992px) and (max-width: 768px) {
   .colum__title {
      font-size: calc(30px + 30.6 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 992px) and (min-width: 768px) {
   .colum__title {
      font-size: calc(30px + 18 * (100vw / 1920));
   }
}

@media (min-width: 992px) {
   .colum__row {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr) [3];
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-rows: (1fr) [2];
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 30px;
      grid-column-gap: 30px;
   }
   .colum__link {
      margin: 55px 0px 0px 0px;
   }
   .contact {
      padding: 90px 0px 30px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .contact__title {
      text-align: left;
      padding: 0px 0px 20px 0px;
   }
   .contact__title p {
      color: #ff3946;
   }
}

@media (min-width: 992px) and (max-width: 768px) {
   .contact__title p {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 992px) and (min-width: 768px) {
   .contact__title p {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

@media (min-width: 992px) {
   .contact__title h3 {
      font-weight: bold;
      margin: 30px 0px 80px 0px;
   }
   .form {
      padding: 0px 0px 60px 0px;
   }
   .form__email {
      width: 350px;
      height: 50px;
      margin: 20px 0px 85px 0px;
   }
   .form__message {
      width: 350px;
      height: 100px;
      margin: 20px 0px 20px 0px;
   }
   .form__subject {
      width: 350px;
      height: 50px;
      margin: 20px 0px 20px 0px;
   }
   .form__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 auto;
      text-align: left;
      margin: 0px 0px 10px 0px;
      width: 960px;
   }
   .form__item {
      margin: 0px 0px 0px 0px;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: #314584;
   }
}

@media (min-width: 992px) and (max-width: 768px) {
   .form__item {
      font-size: calc(16px + 3.4 * ((100vw -320px) / 1920));
   }
}

@media (min-width: 992px) and (min-width: 768px) {
   .form__item {
      font-size: calc(16px + 2 * (100vw / 1920));
   }
}

@media (min-width: 992px) {
   .form__item p {
      font-weight: bold;
   }
}

@media (min-width: 1200px) {
   .agency__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
   }
   .agency__body {
      width: 1210px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .agency__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 560px;
      margin: 0px 0px 0px 0px;
   }
   .agency__about {
      margin: 0px 0px 0px 00px;
   }
   .contact {
      padding: 390px 0px 30px 0px;
   }
   .form__body {
      width: 1120px;
   }
   .block {
      padding: 0px 0px 0px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
   }
   .block__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 280px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0px 0px 0px 0px;
      position: relative;
      top: -55px;
      left: 40px;
      text-align: center;
   }
}

@media (min-width: 1600px) {
   .header__menu {
      max-width: 1120px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }
   .header__logo {
      left: 120px;
   }
}

@media (min-width: 1920px) {
   .container {
      max-width: 1400px;
   }
}

@media (max-width: 550px) {
   .footer__textBG {
      margin: 0px 0px 25px 0px;
   }
   .footer__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0px 0px 20px 0px;
      cursor: pointer;
   }
   .footer__link li {
      padding: 0px 0px 25px 0px !important;
   }
}
