$fontWorkSans: "Work Sans", sans-serif;
$ColorBtnAndWords: #ff3946;
$ColorLinksAndWords: #314584;
$BGMenu: #c3d0d8;
$BGForm: #f4fafe;
$ColorWords: #fff;
$HoverBoxShadow: 0 0 10px rgba(0, 0, 0, 0.5);
$LinkBoxShadow: 0 5px 10px rgba(25, 45, 51, 0.15);
$LinkHoverBoxShadow: 0 5px 10px rgba(25, 45, 51, 0.4);
